.DS_Store
~*
node_modules
*.out
.idea
Generated
tmp_*
build
*-temp
OWASP_MSTG-SNAPSHOT-*
OWASP_MAS_Checklist.xlsx
logs
*.pdf
*.docx
*.epub
launch.json
docs/MASVS
docs/MASTG
docs/checklists/
owasp-masvs
__pycache__
venv/
playground/