.DS_Store
~*
node_modules
*.out
.idea
Generated
tmp_*
build
*-temp
OWASP_MSTG-SNAPSHOT-*
OWASP_MAS_Checklist.xlsx
logs
*.pdf
*.docx
*.epub
docs/MASVS/**/
docs/MASVS/*-*.md
docs/MASTG/**/
docs/MASTG/0x*.md
docs/assets/Images
docs/checklists/MASVS-*.md
docs/talks.md
owasp-masvs
__pycache__
venv/
playground/
__handlers__
*.apk
risks2/
docs/MASWE/**/
docs/MASWE/*.md