.DS_Store
.cache
~*
node_modules
*.out
.idea
Generated
tmp_*
build
*-temp
OWASP_MSTG-SNAPSHOT-*
OWASP_MAS_Checklist.xlsx
logs
*.pdf
*.docx
*.epub
docs/talks.md
owasp-masvs
__pycache__
venv/
playground/
__handlers__
*.apk
risks2/
docs/MASVS/**/
docs/MASVS/*-*.md
docs/MASTG
docs/MASWE
docs/assets/Images
docs/assets/MASVS/Images
OWASP_MASVS.yaml
cross_references.yaml
drafts/
Payload/
.vscode/settings.json
site/
.cache/