@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


body, html{
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
@media (min-width: 1200px){
	.container {
		width: 960px;
	}
}
h1{
	font-weight: 700;
	font-size: 30px;
}

h2{
	font-size: 25px;
}
h3{
	font-size: 20px;
	font-style: italic;
	font-weight: 100;
	line-height: 26px;
}

h4{
	font-size: 15px;
	word-spacing: 2px;
}
h5{
	text-transform: uppercase;
	font-size: 12px;
	word-spacing: 2px;
}
h6{
	text-transform: uppercase;
	font-size: 10px;
	word-spacing: 2px;
	letter-spacing: 2px;
}

p{
	font-size: 20px;
	font-weight: 400;
}

a {color: #222222}
a:hover,
a:focus{
	color: #444444;
	text-decoration: none;
}
#top{
	height: 100px;	
	padding-top: 10px;
	color: #ffffff;
}
