:root {
  --md-primary-fg-color: #499FFF;
}

@keyframes pump {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}

.md-footer__inner:not([hidden]){
  display: none;
}

.mas-flex-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .mas-flex-container {
    flex-direction: column;
  }
}

.pump {
  animation: pump 1000ms ease-out;
}

.grow:hover { transform: scale(1.05); transition: 0.2s;}
