name: Build GitHub Pages
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install -r requirements.txt
      - run: mkdir docs/MSTG
      - run: mv Document/0x0*.md docs/MSTG
      - run: mv -r Document/Images/ docs/assets/Images/
      - run: sed -i "s#<img src=\"Images/#<img src=\"../../assets/Images/#g" docs/MSTG/*.md
      - run: mkdocs gh-deploy --force --clean --verbose